.booking {
  .costs {
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2000ms ease-in-out;

    &.visible {
      max-height: 999rem;
    }
  }

  h3 {
    color: $gray;
    font-size: 0.8em;

    .price {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  input:hover {
    cursor: pointer;
  }
}