.booking {
  .costs {
    margin-top: 10px;
    // max-height: 0;
    // max-height: 999rem;
    overflow: hidden;
    transition: max-height 2000ms ease-in-out;
  }

  h3 {
    color: $gray;
    font-size: 0.8em;

    .price {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}