.btn-clear {
  background: transparent;
  border: 1px solid $white;
  color: $white;

  &:hover {
    color: inherit;
  }
}

.btn-rainbow {
  padding: 10px 30px;
  background: linear-gradient(to right, lighten($red, 20%) 9.38%, $red 88.54%) !important;
}