.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-car {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  cursor: pointer;
  position: relative;
  height: 100%;

  img:first-child {
    filter: brightness(100%);
    transition: filter 0.5s;
  }
  filter: brightness(100%);

  &:hover {
    img:first-child {
      filter: brightness(70%);
    }
  }
}

.card-car-favorite {
  position: absolute;
  padding: 10px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 50%;
  left: 10px;
  top: 10px;
  color: $gray;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    fill: $red;
  }
}

.card-car-link {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  z-index: 50;
}

.card-car > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-car h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-car p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-car .card-car-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

  p {
    font-size: 1em;
  }
}

.card-car-infos .card-car-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// .card-car-pricing {
//   position: absolute;
//   bottom: 10px;
//   right: 10px;
// }

.card-car--featured {
  height: 100%;

  img:first-child {
    height: 400px;
  }
}

.card-car--dark {
  color: $white;
  background: $gray;
}
