<div class="px-5 mt-5 pb-3">
  <p style="margin: 0;"><%= pluralize(Car.count, 'car') %></p>
  <h1>Cars</h1>
  <div class="my-4">
     <%= render 'shared/search-form' %>
  </div>
  <div class="cards mt-2 mb-4">
    <%= render @cars %>
  </div>
  <div class="my-5">
    <%= paginate @cars, window: 2, left: 1, right: 1 %>
  </div>
</div>